@keyframes pisca{
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}
body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna{
    background-color: #dbd5c9;
    padding: 1.5rem;
    max-width: 45rem;
    height: auto;
    width: 40rem;
    margin-top: 12rem;
    border-radius: 4px;
    display: flex;
    box-shadow: 8px 4px 0px #555;
}

.tela{
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 2px solid #555;
    background: linear-gradient(to right,  #e8e8e8, #c1c1c1);
    display: flex;
    flex-direction: column;
}

.telado{
    margin-left: 1.2rem;
    background-color:gray;
}

.teclado--linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado--botao{
    width: 4rem;
    height: 2.2rem;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px 0px #555;
}

.botao--branco{
    margin-left: 15px;
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    font-size: 0.8em;
}
.botao--corrige{
    background-color: #f09046;
    color: #000;
    padding: 0.5rem;
    font-size: 0.8em;
}
.botao--confirma{
    background-color: #48c079;
    color: #000;
    padding: 0.5rem;
    font-size: 0.8em;
}


.d-1{
    flex: 1;
    display: flex;
}

.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.d-1-1{
    height: 50px;
    display: flex;
    align-items: center;
}
.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-1-3{
    height: 50px;
}
.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;

}
.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.d-1-4{
    flex:1 ;
    line-height: 30px;
}
.d-1-right{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d-1-image{
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}
.d-1-image img{
    width: 100%;
}
.d-1-image.small{
   width: 70px;
   font-size: 12px;
}
.d-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}

.aviso--grande{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;
}

.aviso--gigante{
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adicionando responsividade */

@media (max-width: 48em){
    .urna{
        height: 19srem;
        width: 35rem;
    }
    .tela{
        width: 25rem;
    }
    .numero{
        width: 1.5rem;
        margin-top: -15px;
    }
    .aviso--grande{
        margin-top: 13px;
        margin-right: 4rem;
        font-size: 12px;
    }
    .d-2{
        margin-top: 5px;
        font-size: 12px;
    }
    .d-1-2 > span{
        font-size: 12px;
        margin-right: 75px;
        margin-top: -50px;
        font-weight: 800; 
    }
    .d-1-image {
        height: 7rem;
        font-size: 11px;
        font-weight: 700;
        margin-right: 3px;
        margin-top: 4px;
    }
    .d-1-image img{
        width: 5rem;
    }
    .d-1-4{
        font-size: 12px;
        font-weight: 600;
    }
}